@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
.web-architect {
    min-width: 1200px;
}
header {
    background: #1d2124 center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000000000000;
}
.logo-name {
    color: white;
    text-transform: capitalize;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}
.logo-item {
    background: #1a1d20;
    display: inline-block;
    padding: 20px 25px 20px 30px;
}
header > nav {
    margin-top: 30px;
}
nav > a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin-right: 30px;
}
header > label > input {
    margin-top: 22px;
    background: #1d2124;
    opacity: 0.5;
    border: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: relative;
    left: 47px;
    width: 132px;
}
label:after {
    content: url('../imgs/search-logo.png');
    background-color: #171a1c;
    padding: 30px 25px 17px 25px;
}
.photo {
    background: url("../imgs/header-bg-img.png") no-repeat fixed;
    background-size: cover;
    position: relative;
    height: 400px;
    width: 100%;
    background-position-y: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.photo:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 2;
}
.photo-title {
    text-transform: uppercase;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 45px;
    z-index: 3;
}
.photo-buttons {
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
}
.photo-buttons > button {
    width: 170px;
    height: 55px;
    color: white;
    border-radius: 7px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    font-family: 'Open Sans', sans-serif;
}
.photo-buttons > button:first-child {
    background: #89ca62;
}
.photo-buttons > button:last-child {
    background: #14b9d5;
}
.propositions {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}
.propositions-background {
    width: 100%;
    background-color: #f2f2f2;
}
.propositions-title {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    color: #4ec3d8;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.proposition-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.proposition-first-column {
    display: flex;
    flex-direction: column;
}
.proposition-first-column-photo1 {
    background: url("../imgs/Vanglo-House.png") no-repeat;
    height: 315px;
    width: 370px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.proposition-first-column-photo2 {
    background: url("../imgs/Royal-Blossom.png") no-repeat;
    height: 315px;
    width: 370px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.proposition-second-column-photo3 {
    background: url("../imgs/Sunrise-Expanse.png") no-repeat;
    height: 435px;
    width: 370px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.proposition-second-column-photo4 {
    background: url("../imgs/Sunset-Shack.png") no-repeat;
    height: 305px;
    width: 370px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.proposition-third-column-photo5 {
    background: url("../imgs/Stargaze-Resort.png") no-repeat;
    height: 350px;
    width: 370px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.proposition-third-column-photo6 {
    background: url("../imgs/Glorious-Expanse.png") no-repeat;
    height: 435px;
    width: 370px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 70px;
}
.proposition-name {
    background-color: #ffffff;
    padding: 20px 0;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
main {
    display: grid;
    justify-content: center;
    grid-column: 2;
    position: relative;
    background: url(../imgs/main-bg.jpeg) no-repeat fixed center center;
    background-size: cover;
    height: 590px;
    background-position-y: -2px;
    overflow: hidden;
    z-index: 1;
}
main:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 2;
}
.clients-sec {
    width: 1000px;
    height: inherit;
    display: grid;
    align-content: space-evenly;
    justify-items: center;
    z-index: 3;

}
.clients-sec-title {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.clients-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: inherit;
    height: 50px;
    position: relative;
}
.clients-logo-photo1 {
    background: url("../imgs/photo1.png") no-repeat;
}
.clients-logo-photo2 {
    background: url("../imgs/photo2.png") no-repeat;
}
.clients-logo-photo3 {
    background: url("../imgs/photo3.png") no-repeat;
}
.clients-logo-photo4 {
    background: url("../imgs/photo4.png") no-repeat;
}
.clients-logos:before {
    content: '';
    border-bottom: 3px solid #169cb4;
    width: 60px;
    position: absolute;
    bottom: 105px;
    left: 464px;
}
.white-bg {
    background: white repeat;
    width: 100%;
}
.rating {
    display: grid;
    grid-template-rows: 120px 1fr;
    width: inherit;
    align-items: center;
}
.rating-photo {
    display: grid;
    width: inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 190px;
}
.rating-photo1 {
    background: url("../imgs/tr1.png") no-repeat;
    position: relative;
}
.rating-photo2 {
    background: url("../imgs/tr2-3.png") no-repeat;
    position: relative;
}
.rating-photo3 {
    background: url("../imgs/tr2-3.png") no-repeat;
    position: relative;
}
.rating-photo4 {
    background: url("../imgs/tr4.png") no-repeat;
    position: relative;
}
.rating-photo5 {
    background: url("../imgs/tr5.png") no-repeat;
    position: relative;
}
.rating-photo6 {
    background: url("../imgs/tr6.png") no-repeat;
    position: relative;
}
.rating-photo7 {
    background: url("../imgs/tr7.png") no-repeat;
    position: relative;
}
.rating-photo-link {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.news-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 252px;
    grid-template-rows: 1fr 110px 1fr 110px 1fr 1fr;
    width: 1170px;
    margin: 0 auto 55px;
    grid-gap: 40px 30px;
}
.news-photo-description1 {
background: url("../imgs/news-photo1.png") no-repeat;
    grid-area: 1/1/1/4;
    height: 260px;
    display: grid;
    justify-content: end;
    align-items: center;
}
.news-photo-content1 {
    width: 404px;
    height: 100%;
    background: #f9f7f7;
    color: black;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    justify-items: right;
    align-content: space-evenly;
}
.news-photo-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
}
.news-photo-text {
    margin: 0 20px;
    text-align: right;
}
.news-photo-description2 {
    background: url("../imgs/news-photo2.png") no-repeat;
    height: 100%;
    width: 254px;
    display: grid;
    align-items: end;
}
.news-photo-content2 {
    background-color: #f9f7f7;
    width: 254px;
    height: 19%;
    margin-top: 10px;
    display: grid;
    justify-content: center;
}
.news-photo-title2 {
    font-family: 'Open Sans', sans-serif;
    width: 254px;
    height: 19%;
    text-align: center;
    margin-top: 10px;
}
.news-photo-description3 {
    background: url("../imgs/news-photo3.png") no-repeat;
    display: grid;
    justify-content: right;
    align-items: end;
    width: 554px;
    grid-area: 2/1/4/3;
    height: 100%;
}
.news-photo-content3 {
    background: #f9f7f7;
    color: black;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    height: 152px;
    display: grid;
    justify-items: right;
    align-content: space-evenly;
}

.news-photo-description4 {
    background: url("../imgs/news-photo4.png") no-repeat;
    display: grid;
    justify-content: right;
    align-items: end;
    width: 554px;
    grid-area: 2/3/4/5;
    height: 100%;
}
.news-photo-description5 {
    background: url("../imgs/news-photo5.png") no-repeat;
    display: grid;
    justify-content: right;
    align-items: end;
    width: 554px;
    grid-area: 4/1/6/3;
    height: 100%;
}
.news-photo-description6 {
    background: url("../imgs/news-photo6.png") no-repeat;
    display: grid;
    justify-content: right;
    align-items: end;
    width: 554px;
    grid-area: 4/3/6/5;
    height: 100%;
}
.news-photo-description7 {
    background: url("../imgs/news-photo7.png") no-repeat;
    height: 100%;
    width: 254px;
    display: grid;
    align-items: end;
    grid-area: 6/1/6/1;
}
.news-photo-description8 {
    background: url("../imgs/news-photo8.png") no-repeat;
    height: 260px;
    display: grid;
    justify-content: end;
    align-items: center;
    grid-area: 6/2/6/5;
}
footer {
    background-color: #1d2124;
    width: 100%;
}
.footer {
    display: grid;
    width: 1170px;
    margin: 0 auto;
    align-items: center;
    justify-items: flex-end;
    height: 80px;
    grid-template-columns: repeat(4, 1fr);
}
.footer-text {
    color: white;
    font-size: 15px;
    grid-column: 1/3;
    font-family: 'Open Sans', sans-serif;
}
.footer-logo {
    grid-column: 4/5;
}





.scroll-top-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    z-index: 100;
    color: white;
    font-weight: 800;
    font-size: 20px;
}


